@import "../variables.scss";

.form {
   padding: 20px 0;
   display: flex;
   justify-content: space-between;
   width: 350px;

   & input {
      width: 240px;
      padding: 10px;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid transparent;
      border-radius: 5px;
      background-color: rgb(128, 128, 128);
      cursor: pointer;

      &::placeholder {
         font-size: 14px;
         color: $input-placeholder-color;
      }
      &:focus {
         border: 1px solid $city-name;
      }
   }

   .form-button {
      width: 100px;
      padding: 10px;
      color: white;
      background: $button-color 0% 0% no-repeat padding-box;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 3px 6px #00000029;

      &:hover {
         background: darken($button-color, 6%);
      }

      &:active {
         background: darken($button-color, 10%);
      }
   }
}
