@import "../variables.scss";

.card {
   display: grid;
   grid-template-rows: 52px 1fr 78px;
   gap: 0;
   width: 350px;
   height: 257px;
   background: $palette-color 0% 0% no-repeat padding-box;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 5px;
   padding: 10px 15px;
   position: relative;
   transition: 0.3s ease all;

   &__header {
      .location {
         display: flex;
         justify-content: space-between;
         .city {
            font-size: 16px;
         }
         .icone {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;
            & img {
               width: 30px;
            }
            .icone__text {
               font-size: 13px;
               color: $minor-tex-color;
               margin: 0 10px;
            }
         }
      }
      .date {
         font-weight: 300;
         font-size: 18px;
      }
   }

   &__footer {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .temperature-block {
         display: flex;
         align-items: flex-end;
         flex-wrap: wrap;
         width: 150px;

         .temp {
            font-size: 44px;
            line-height: 44px;
         }

         .temp-badge-toggle {
            display: flex;
            margin-bottom: 20px;
            position: relative;

            &::before {
               content: "";
               position: absolute;
               width: 1px;
               height: 80%;
               background-color: $temp-separator;
               top: 50%;
               left: 50%;
               transform: translate(50%, -50%);
            }

            .badge-item input[type="radio"] {
               display: none;
            }

            .badge-item label {
               font-size: 22px;
               color: $temp-degree-toggle;
               cursor: pointer;
            }
            .item-1 {
               padding: 0 10px 0 5px;
            }

            .item-2 {
               padding: 0 5px 0 10px;
            }

            .item-1 input[type="radio"]:checked + label {
               color: black;
            }
            .item-2 input[type="radio"]:checked + label {
               color: black;
            }
         }

         .feels-like {
            font-size: 13px;
            color: $minor-tex-color;
         }
      }

      .data {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         justify-content: flex-end;

         .data__text {
            font-size: 12px;
         }
         .data-measurements {
            color: $data-value;
         }
      }
   }

   .card__btn {
      position: absolute;
      top: 6px;
      right: 8px;
      width: 8px;
      height: 8px;
      path {
         stroke: $minor-tex-color;
      }
      transition: 0.3s ease all;
      cursor: pointer;

      &:hover {
         path {
            stroke: #000000;
         }
         transform: scale(1.05);
      }
   }
}
