$body-bg-color: #f4f6f8;
$font-family: "Jost", sans-serif;
$container-width: 87%;

$input-placeholder-color: #bcbcbc;
$button-color: #459de9;
$minor-tex-color: #c5c5c5;
$temp-degree-toggle: #8d8d8d;
$temp-separator: #707070;
$data-value: #459de9;

$palette-color: #f1f2ff;
$chart-color: #5b8cff;

$spiner-color: #c5c5c5;
