$font-family: "Jost", sans-serif;
$container-width: 80%;

$button-color: #459de9;
$minor-tex-color: #c5c5c5;
$temp-degree: #8d8d8d;
$temp-separator: #707070;

$palette-color: #f1f2ff;
$chart-color: #5b8cff;

$spiner-color: #c5c5c5;
